In [1]:
from datetime import datetime

#### Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [9]:
# https://docs.python.org/3/library/datetime.html
Moscow_Times_datetime = datetime.strptime('Wednesday, October 2, 2002', '%A, %B %d, %Y')
Moscow_Times_datetime

datetime.datetime(2002, 10, 2, 0, 0)

In [11]:
Guardian_datetime = datetime.strptime('Friday, 11.10.13', '%A, %d.%m.%y')
Guardian_datetime

datetime.datetime(2013, 10, 11, 0, 0)

In [13]:
Daily_News_datetime = datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')
Daily_News_datetime

datetime.datetime(1977, 8, 18, 0, 0)

#### Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [30]:
def date_check(date_list):
    result = {}
    for date in date_list:
        try:
            date_datetime = datetime.strptime(date, '%Y-%m-%d')
            result[date] = True
        except:
            result[date] = False
    return result

In [32]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
date_check(stream)

{'2018-04-02': True, '2018-02-29': False, '2018-19-02': False}

#### Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [33]:
from datetime import timedelta

In [85]:
def date_range():
    """
    список дат за период
    """
    date_start = input('Введите первую дату в формате YYYY-MM-DD:')
    date_end = input('Введите вторую дату в формате YYYY-MM-DD:')
    
    try:
        start_date_datetime = datetime.strptime(date_start, '%Y-%m-%d')
        end_date_datetime = datetime.strptime(date_end, '%Y-%m-%d')
        days = (end_date_datetime - start_date_datetime).days

        if days < 0:
            return []
        else:    
            for i in range(days + 1):
                print(start_date_datetime + timedelta(days = i))
    except:
        return []

In [86]:
date_range()

Введите первую дату в формате YYYY-MM-DD:2017-01-01
Введите вторую дату в формате YYYY-MM-DD:2017-01-05
2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00
2017-01-04 00:00:00
2017-01-05 00:00:00

#### Задание 4 (бонусное)
Ваш коллега прислал код функции:

При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

- Что значит ошибка list index out of range?
- Почему при первом запуске функция работает корректно, а при втором - нет?

In [98]:
DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]

In [99]:
delete_and_return_last_user(1)

'A101'

#### Что значит ошибка list index out of range?

Функция пытается обратиться к несуществующему в списке элементу (индекс элемента больше длины списка)

#### Почему при первом запуске функция работает корректно, а при втором - нет?

При втором запуске уже не существует элемента default_list[1], т.к. функция всегда возвращает именно этот элемент вместо последнего - не задано уменьшение DEFAULT_USER_COUNT или использование длины списка.